<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.library.main.dao.BookDAO">
<select id="selectBookList" resultType="com.library.main.Book">
	select * from `book` ORDER BY `id` DESC
</select>

<select id="selectBookListBySearchSearchType" resultType="com.library.main.Book">
	SELECT
		`id`
		, `isbn`
		, `title`
		, `author`
		, `publisher`
		, `year`
		, `imageUrl`
		, `category`
		, `status`
		, `count`
		, `point`
		, `createdAt`
		, `updatedAt`
	FROM
		`book`
	WHERE
		<if test='searchType != "general"'>
		<if test='searchType == "title"'> 
			`title`
		</if>
		<if test='searchType == "author"'> 
			`author`
		</if>
		<if test='searchType == "publisher"'> 
			`publisher`
		</if>
		<if test='searchType == "issn"'> 
			`isbn`
		</if>
		LIKE CONCAT('%', #{search}, '%')
		</if>
		<if test='searchType == "general"'>
			`title` LIKE CONCAT('%', #{search}, '%') OR `author` LIKE CONCAT('%', #{search}, '%') OR `publisher` LIKE CONCAT('%', #{search}, '%') OR `isbn` LIKE CONCAT('%', #{search}, '%') OR `title` LIKE CONCAT('%', #{search}, '%')
		</if>
		order by `updatedAt` DESC
</select>

<select id="selectBookListByCat" resultType="com.library.main.Book">
	SELECT
		`id`
		, `isbn`
		, `title`
		, `author`
		, `publisher`
		, `year`
		, `imageUrl`
		, `category`
		, `status`
		, `count`
		, `point`
		, `createdAt`
		, `updatedAt`
	FROM
		`book`
	WHERE
		`category` = #{category}
</select>

<select id="selectBookByBookId" parameterType="int" resultType="com.library.main.Book">
	SELECT
		`id`
		, `isbn`
		, `title`
		, `author`
		, `publisher`
		, `year`
		, `imageUrl`
		, `category`
		, `status`
		, `count`
		, `point`
		, `createdAt`
		, `updatedAt`
	FROM
		`book`
	WHERE
		`id` = #{id}
</select>

<insert id="insertBook" parameterType="map">
	INSERT INTO `book`
		(
			`isbn`
			, `title`
			, `author`
			, `publisher`
			, `year`
			, `imageUrl`
			, `category`
			, `status`
			, `count`
			, `point`
			, `createdAt`
			, `updatedAt`
		)
	VALUES
		(
			#{isbn}
			, #{title}
			, #{author}
			, #{publisher}
			, #{year}
			, #{filePath}
			, #{category}
			, 0
			, 0
			, NULL
			, NOW()
			, NOW()
		)
</insert>

<insert id="insertRentInfoByUserIdBookId" parameterType="map">
	INSERT INTO `book_status`
		(
			`userId`
			, `bookId`
			, `borrowedAt`
			, `dueDate`
			, `exCount`
			, `returnedAt`
			, `point`
			, `createdAt`
			, `updatedAt`
		)
	VALUES
		(
			#{userId}
			, #{bookId}
			, NOW()
			, DATE_ADD(NOW() , INTERVAL 14 DAY)
			, 0
			, NULL
			, NULL
			, NOW()
			, NOW()
		)
</insert>

<update id="updateBookStatus" parameterType="int">
	UPDATE `book`
		SET `status` = 1
	WHERE `id` = #{bookId}
</update>

<select id="selectBookStatusByBookId" parameterType="int" resultType="com.library.main.BookStatus">
	SELECT * FROM `book_status`
			WHERE `bookId` = #{bookId} AND `returnedAt` is null
</select>

<update id="returnBookByBookId" parameterType="int">
	UPDATE `book`
		SET `status` = 0, `count` = `count` + 1
	WHERE `id` = #{bookId}
</update>
<update id="updateBookStatusAsReturned" parameterType="int">
	UPDATE `book_status`
		SET `returnedAt` = NOW()
	WHERE `bookId` = #{bookId} limit 5
</update>

<select id="selectBookIdListByUserId" parameterType="int" resultType="Integer">
	SELECT
		`bookId`
	FROM
		`book_status`
	WHERE
		<if test="userId1 != 0">
			`userId` = #{userId1}
			AND `returnedAt` is null
		</if>
		<if test="userId2 != 0">
			`userId` = #{userId2}
			AND `returnedAt` is not null ORDER BY `returnedAt` DESC
		</if>
</select>

<select id="selectBorrowedBookCntByUserId" parameterType="int" resultType="int">
	SELECT COUNT(*) FROM `book_status` WHERE `userId` = #{userId} AND `returnedAT` IS NULL
</select>

<select id="selectDueDateByBookId" parameterType="map" resultType="date">
	SELECT `dueDate` FROM `book_status` WHERE `bookId` = #{bookId} AND `returnedAT` IS NULL AND `userId` = #{userId} limit 3
</select>
</mapper>