<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.library.post.dao.PostDAO">
	<select id="selectPostNoticeList" parameterType="int" resultType="com.library.post.model.Post">
		select * from `post` where `type` = 0 order by `updatedAt` desc
		<if test="num == 5 || num == 10">
			limit #{limit}
		</if>
	</select>
	<select id="selectPostNoticeList2" parameterType="map" resultType="com.library.post.model.Post">
		select * from `post`
		<if test="type == 0">
			where `type` = #{type}
		</if>
		<if test="type == 1">
			where `type` = #{type}
		</if>
		order by `createdAt` DESC LIMIT #{min1}, #{max}
	</select>
	<select id="selectPostIdByPage" parameterType="int" resultType="com.library.post.model.Post">
		select * from `post` where `type` = 0 order by `createdAt` DESC LIMIT 0, 5
	</select>
	<select id="selectPostCnt" parameterType="int" resultType="int">
		select COUNT(*) from `post` where `type` = #{type}
	</select>

	<select id="selectPostRecommendList" parameterType="int" resultType="com.library.post.model.Post">
		select * from `post` where `type` = 1 order by `updatedAt` desc
		<if test="num == 5">
			limit #{limit}
		</if>
	</select>

	<select id="selectPostById" parameterType="int" resultType="com.library.post.model.Post">
		select * from `post` where `id` = #{id}
	</select>

	<insert id="insertPost" parameterType="map">
		INSERT INTO `post`
			(
				`type`
				, `title`
				, `userId`
				, `content`
				, `filePath`
				, `createdAt`
				, `updatedAt`
			)
		VALUES
			(
				#{type}
				, #{title}
				, #{userId}
				, #{content}
				, #{filePath}
				, NOW()
				, NOW()
			)
	</insert>
	
	<delete id="deletePost" parameterType="map">
		DELETE FROM `post`
		WHERE
				`id` = #{postId}
	</delete>
	
	<update id="updatePost" parameterType="map">
		UPDATE `post`
			SET `title` = #{title}, `content` = #{content}
		WHERE `id` = #{postId}
	</update>
</mapper>