@charset "UTF-8";
body {background-color: #8AAAE5;}

#wrap {width:1200px;}
.bgTemp {background-color: #8AAAE5;}
.temp {min-height: 80px;}

a {text-decoration: none; color:#000;}
a:hover {text-decoration: none; color: #777;}

header {width:1200px; height:80px;}
#font1 {font-family: 'Kanit', sans-serif;}
#font2 {font-family: 'Josefin Sans', sans-serif; font-size: 20px;}
#font2 {font-family: 'Josefin Sans', sans-serif; font-size: 20px;}
#menu1 {width: 1200px; height: 50px;}
/* #menu1 a {text-decoration: none; color:#000;}
#menu1 a:hover {color: #777;} */

.search {width: 1200px; height: 100px;}
#search1 {height:40px; background-color:dark;}
.radio {height:30px;}
.radio span {vertical-align: middle;}
[type="radio"] {vertical-align: middle;}

.section1 {width: 1200px; min-height: 450px;}
.popularBooksBox {width: max; height:300px;}
.imgBox {width:100px; height:120px; background-color:#999;}
.bookDisplayBox {width: 150px; height: 250px; border: 1px solid;}



.star-rating {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

.section2 {width: 1200px; height: 400px;}
.post {height:400px;}
/* .section2 a {text-decoration: none; color: #000;}
.section2 a:hover {color: #777;} */

footer{width:1200px; height:90px;}



/* signUp*/
.signUp {height: 700px; background-color: #FFF;}
.signUp .sign-up-box {width: 500px;}


/* profile */
.profileBox {height: 300px; width: 1100px; border: 1px solid;}
.bookInfoBox {height: 250px; width: 1100px; border: 1px solid;}
.bookImgBox {width:150px; height:180px; background-color:#999;}
.section3 {width: 1200px; min-height: 50px;}

/* profileUpdate */
.profileUpdateBox {height: 500px; width: 1100px; border: 1px solid;}
.fileAttach {height: 30px; font-size: 15px;}
.fileAttachBox {min-height:25px;}

/* book box(large) */
.bookSection {width: 1200px; min-height: 300px;}

/* category */
.categoryBox {width:900px; height: 300px;}
.sectionBox {width: 250px; height:250px; border: 1px solid;}

/* post */
.postBorder {width:1000px; min-height: 700px;}
.commentsBorder {width:1100px; min-height: 150px;}
.commentBox {width: 1000px; height:100px; border: 0.5px solid;}
/* newPost */
.newPostBox {width: 1000px; height:500px;}

/* bookInfo */
.bookInfoBox2 {height: 800px; width: 1100px; border: 1px solid;}
.bookStatusBox {height: 350px; width: 1000px;}

.rating svg{
	color:#ebebeb;
}